apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-media-backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: backend

    spec:
      # ----------------------------
      # INIT CONTAINER
      # ----------------------------
      initContainers:
        - name: model-downloader
          image: raginimetlapalli/model-downloader-final:latest
          env:
            - name: HF_CACHE
              value: "/models"
            - name: TRANSFORMERS_CACHE
              value: "/models"
            - name: HF_HOME
              value: "/models"

          volumeMounts:
            - name: hf-cache
              mountPath: /models

          resources:
            requests:
              cpu: "500m"
              memory: "3Gi"
            limits:
              cpu: "1"
              memory: "4Gi"

      # ----------------------------
      # MAIN CONTAINER
      # ----------------------------
      containers:
        - name: backend
          image: raginimetlapalli/social-media-engagement-backend:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8000

          env:
            - name: HF_HOME
              value: "/models"
            - name: TRANSFORMERS_CACHE
              value: "/models"
            - name: HF_CACHE
              value: "/models"
            - name: ENV
              value: "production"

          volumeMounts:
            - name: hf-cache
              mountPath: "/models"

          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 20

          resources:
            requests:
              cpu: "100m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "4Gi"

      # ----------------------------
      # VOLUMES
      # ----------------------------
      volumes:
        - name: hf-cache
          persistentVolumeClaim:
            claimName: hf-models-pvc

