apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-media-app
  labels:
    app: social-media-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: social-media-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: social-media-app
    spec:
      containers:
      - name: backend
        image: raginimetlapalli/social-media-engagement-backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: ENV
          value: "production"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5

      - name: frontend

        image: raginimetlapalli/social-media-engagement-frontend:latest
        ports:
        - containerPort: 80
